In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
titan=pd.read_csv("train.csv")

In [3]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(titan, test_size=0.2, random_state=42)

In [4]:
train_set

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
331,332,0,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,C124,S
733,734,0,2,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
704,705,0,3,"Hansen, Mr. Henrik Juul",male,26.0,1,0,350025,7.8542,NaN,S
813,814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.0,4,2,347082,31.2750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.6500,NaN,S
270,271,0,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S
860,861,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S
435,436,1,1,"Carter, Miss. Lucile Polk",female,14.0,1,2,113760,120.0000,B96 B98,S
102,103,0,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S

In [5]:
x=train_set.loc[:,['Age','Fare']]
y=train_set['Survived']
X=x.fillna(method='ffill')
X.isna().sum()

Age     0
Fare    0
dtype: int64

In [14]:
X.shape

(712, 2)

In [8]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(X,y)
knn.score(X,y)

0.7443820224719101

In [12]:
X1=test_set.loc[:,['Age','Fare']]
y1=test_set['Survived']
X1=X1.fillna(method='bfill')
X1.isna().sum()

Age     0
Fare    0
dtype: int64

In [13]:
knn.score(X1,y1)

0.6536312849162011